.DropdownTrigger {
    box-sizing: border-box;
}

.DropdownTriggerIcon {
    display: inline-flex;

    margin-left: auto;

    width: 16px;
    height: 16px;
}

.DropdownPanel {
    box-sizing: border-box;
}
