html,
body {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-size: var(--font-size-m);

    font-family: -apple-system,
        BlinkMacSystemFont,
        "Helvetica",
        "Segoe UI",
        Ubuntu,
        "Arial",
        sans-serif;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--gray-950);
}
