.AppSideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: var(--gap-m);
}

.AppSideBarMain {
    border-radius: var(--radius-l);
    padding: var(--gap-m);
}

.AppSideBarMenu {
    margin: 0 calc(-1 * var(--gap-m));
    padding-top: var(--gap-m);

    &:first-child {
        padding-top: 0;
    }
}

.AppSideBarMenuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:
        background-color,
        color 100ms ease-in-out;
    cursor: pointer;
    padding: var(--gap-xs) var(--gap-m);
    color: var(--promo-text);

    text-decoration: none;

    &:hover {
        background-color: var(--promo-interactive);
        color: var(--promo-text-hover);
    }
}

.AppSideBarMenuItemLinkContent {
    display: flex;
    align-items: center;
}

.AppSideBarMenuItem_active {
    cursor: default;
    background-color: var(--promo-interactive);
    color: var(--promo-text-hover);
    font-weight: var(--font-weight-bold);
}

.AppSideBarMenuItemIcon {
    width: 16px;
    height: 16px;
}

.AppSideBarMenuItemIcon {
    margin-right: var(--gap-xs);
}

.AppSideBarMenuItemTab {
    display: inline-block;
    width: calc(16px + var(--gap-xs));
}

@media (prefers-color-scheme: dark) {
    .AppSideBarMain {
        background: linear-gradient(45deg, var(--promo) 0%, var(--primary-500) 100%);
    }
}

@media (prefers-color-scheme: light) {
    .AppSideBarMain {
        background: linear-gradient(235deg, var(--promo) 0%, var(--primary-500) 80%);
    }
}
