.AppLogo {
    text-transform: uppercase;
    font-weight: var(--font-weight-bolder);
    font-size: var(--font-seize-l);
    color: var(--gray-500);
}

.AppLogoMark {
    color: var(--base-light-5);
}
